.ButtonNav {
    color: #ffffff;
    font-size: 25px;


    background-color: #000090;
    border: 0;
    width: 100%;
    height: 50px;
}

.ButtonNav:hover {
    background-color: blue;
}

.ButtonNav:active {
    background-color: green;
}